{% extends "base.html.j2" %}
{% block content %}
<title>Me and my work</title>

<h1>Me and my work</h1>

{{me}}

<ul>
    <li><a href="resume.html">Resume</a></li>
    <li><a href="projects.html">Programs and projects</a></li>
</ul>
{% endblock %}
