{% extends "base.html.j2" %}
{% block content %}
<title>Resume</title>

<h1>Resume</h1>

{{me}}

<h2>Profile</h2>

<p>
    I am first of all an IT enthusiast. I have a broad interest in all things technical, but especially IT. 
    Currently, I apply this interest in the area of Red Teaming, Reverse Engineering and Cyber Security in general.
    During my work I tend to write tools and scripts almost continually, this not only helps me and my team work more efficiently, but it is also a lot of fun!
    I approach new challenges with boldness. In my opinion, everything can be learned if you just dare to try!
    Given a new challenge, I am not afraid to get my hands dirty and deep-dive into the subject at hand.
    Occasionally, this approach leads to new research area's and discoveries which I like to share with the community.
</p>

<p>
    Of course there is much more to me than just my work. If we meet each other, I'm sure we will find a lot to talk about!
</p>

<h2>Published vulnerabilities</h2>

<ul>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-adlink-pxi-platform-services">Adlink PXI platform services</a>
    </li>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-terabyte-image-for-windows">CVE-2024-31757 Terabyte Image for Windows</a>
    </li>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-htc-vive">HTC Vive</a>
    </li>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-escan-antivirus">CVE-2024-28519 EScan Antivirus</a>
    </li>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-hardware-access-driver-marvintest-solutions">CVE-2024-31756 Hardware Access Driver MarvinTest Solutions</a>
    </li>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-logmein-goto">LogMeIn GoTo</a>
    </li>
    <li>
        <a href="https://northwave-cybersecurity.com/vulnerability-notice-topaz-antifraud">CVE-2023-52271 Topaz Antifraud</a>
    </li>
</ul>

<h2>Presented conferences</h2>

<ul>
    <li><a href="https://www.youtube.com/watch?v=Hz-9wJ_1zQ4">OrangeCon 2025 - Shellcode compiling without restrictions (<a href="https://github.com/jjk96/PIClin">PIClin</a>)</li>
    <li><a href="https://orangecon.nl/legacy/2024/assets/slides/2024/OrangeCon2024%20-%20Driver%20Vulnerability%20Research.pdf">OrangeCon 2024 - Kernel Driver Vulnerability Research</a></li>
    <li><a href="https://conference.hitb.org/hitbsecconf2023ams/session/commsec-lab-developing-malicious-kernel-drivers/">Hack in the Box 2023 - Developing Malicious Kernel Drivers</a></li>
</ul>

<h2>Work experience</h2>

<ul>
<li>
    <h3>[2021 &ndash; Present] Northwave Cyber Security</h3>

    <p><a href="https://northwave-cybersecurity.com">northwave-cybersecurity.com</a></p>

    <h4>Security Consultant / Ethical Hacker</h4>

    <ul>
    <li>Red teaming (<a href="https://www.dnb.nl/en/sector-information/cash-and-payment-systems/dnb-oversees-cyber-resilience-tests/advanced-red-teaming-art/">ART</a>)</li>
    <li>Reverse engineering (malware research, malware development, vulnerability research)</li>
    <li>Penetration testing, infrastructure, web applications, mobile applications, OT, IoT</li>
    <li>Social engineering (Phishing / Physical intrusion)</li>
    <li>Source code reviewing</li>
    </ul>
</li>
<li>
    <h3>[2015 &ndash; 2020] Stenfert Informatisering</h3>

    <p><a href="https://stenfertinfo.nl">stenfertinfo.nl</a></p>

    <h4>Developer</h4>

    <ul>
    <li>Development of several websites and applications</li>
    <li>PHP/Joomla programming</li>
    </ul>


    <h4>Troubleshooter</h4>

    <ul>
    <li>Troubleshooting problems with computers, printers, etc.</li>
    </ul>
</li>
<li>
<h3>[2016 &ndash; 2019] University of Twente</h3>

<p><a href="https://utwente.nl">utwente.nl</a></p>

<h4>Teaching Assistant</h4>

<ul>
<li>Answering questions during classes</li>
<li>Grading</li>
<li>Lecturing</li>
</ul>
</li>
<li>
<h3>[2013 &ndash; 2015] Enkco foodgroup</h3>

<p><a href="https://enkco.nl">enkco.nl</a></p>

</li>
</ul>

<h2>Education and training</h2>

<ul>
    <li>
        <h3>[2021] Offensive Security PEN-200 (OSCP)</h3>
        <a href="https://www.offsec.com/courses/pen-200">offsec.com</a>
    </li>
    <li>
<h3>[2018 &ndash; 2020] Master Cyber Security</h3>
<a href="https://www.4tu.nl/cybsec">4TU Master Cyber Security</a>

<p>University of Twente, Netherlands</p>

<h4>Honours</h4>

<ul>
    <li>Cum laude</li>
</ul>

</li>
<li>

<h3>[2015 &ndash; 2018] Bachelor Computer Science</h3>

<p>University of Twente, Netherlands</p>

<h4>Honours</h4>

<ul>
<li>KHMW Jong Talent Aanmoedigingsprijs</li>
<li>Honours Programme, mathematics track</li>
<li>Cum laude</li>
<li>Best paper award</li>
</ul>

</li>
<li>

<h3>[2009 &ndash; 2015] VWO</h3>

<p>De Passie Wierden</p>

<h4>Honours</h4>

<ul>
<li>Cum laude</li>
</ul>

</li>
</ul>

<h2>Volunteer work</h2>

<ul>
    <li>
        <h3>[2020 &ndash; Present] AndBible development</h3>
        <p><a href="https://andbible.org">andbible.org</a></p>

        <ul>
            <li>Open Source development of the Android app</li>
        </ul>
    </li>
    <li>
        <h3>[2017 &ndash; 2021] Dabar camping work</h3>
        <p><a href="https://www.izb.nl/dabar">izb.nl/dabar</a></p>

        <ul>
            <li>Entertaining teenagers and children</li>
            <li>Conveying the message of the Bible</li>
        </ul>
    </li>
</ul>

<h2>Personal skills</h2>

<h3>Languages</h3>

<table>
    <tr>
        <td>Dutch</td>
        <td>Native Speaker</td>
    </tr>
    <tr>
        <td>English</td>
        <td>Proficient in reading, writing, listening and speaking</td>
    </tr>
    <tr>
        <td>German</td>
        <td>Able to read and listen</td>
    </tr>
</table>

<h3>IT skills</h3>

<ul>
<li>Extensive experience with the Linux operating system</li>
<li>Experience with Open-Source development</li>
<li>Programming experience across a broad spectrum of languages and paradigms, e.g. Python, Java, C, Rust, Haskell. </li>
<li>Reverse engineering experience, e.g. disassembly, decompilation, debugging</li>
</ul>
{% endblock %}
